<div class="container">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <h2 class='mt-2 fw-bolder'><%= @list.name %></h2>
    <br>
    <div class="links d-flex justify-content-around">
      <%= link_to new_list_bookmark_path(@list), class: 'btn btn-ghost rounded-pill mx-2' do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
      <%= link_to list_path(@list),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: 'btn btn-ghost rounded-pill mx-2' do
      %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
      <%= link_to edit_list_path(@list), class: 'btn btn-ghost rounded-pill' do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-between pe-2 mx-5">

    <div class="cards-books text-center">
      <% @list.books.each do |book| %>
        <div class="card-book shadow-lg m-4" style="background-image: url('https://books.toscrape.com/<%= book.image_url %>')" id="hello">
          <div class="overlay"></div>
          <div class="book-info"><h4><%= book.title %></h4></div>
          <div class="book-info-card bg-white p-2 ">
            <p  class="text-ellipsis"><em><%= book.bookmarks.first.comment %></em></p>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
